body {
  background-color: #45a29e;
  font-family: "VT323", monospace;
  font-size: 36px;
}

body .navbar-brand {
  font-size: 34px;
  color: #45a29e;
}

.nav-link {
  color: #45a29e;
}

.navbar-brand:hover {
  color: #66fcf1;
}

.nav-link:hover {
  color: #66fcf1;
}

body .navbar-toggler {
  background-color: white;
}

body .navbar {
  background-color: #0b0c10;
}

body .btn-success {
  background-color: #45a29e;
}

body .btn-danger {
  background-color: #45a29e;
}

.btn-danger:hover {
  background-color: #66fcf1;
}

.btn-success:hover {
  background-color: #66fcf1;
}

canvas {
  display: block;
  width: 1024px;
  height: 768px;
  margin: auto;
  cursor: pointer;
}

.btn-logOut {
  background-color: none;
  border: 0;
  margin: 0;
  color: #45a29e;
  padding: 0.5rem 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 36px;
}

.btn-logOut:hover {
  background-color: none;
  border: 0;
  margin: 0;
  color: #66fcf1;
  padding: 0.5rem 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 36px;
}
