body {
  background-color: #c5c6c7;
  font-family: "VT323", monospace;
  font-size: 36px;
}

body .navbar-brand {
  font-size: 34px;
  color: #45a29e;
}

.nav-link {
  color: #45a29e;
}

.navbar-brand:hover {
  color: #66fcf1;
}

.nav-link:hover {
  color: #66fcf1;
}

body .navbar-toggler {
  background-color: white;
}

body .navbar {
  background-color: #0b0c10;
}

body .btn-success {
  background-color: #45a29e;
}

body .btn-danger {
  background-color: #45a29e;
}

.btn-danger:hover {
  background-color: #66fcf1;
}

.btn-success:hover {
  background-color: #66fcf1;
}

body .my-container {
  margin-left: 0px;
  margin-right: 0px;
}

body .my-row {
  height: 410px;
  width: 100vw;
}

body .menu {
  padding: 0;
}

body .howToPlay {
  background-color: #45a29e;
  color: #c5c6c7;
  border: 3px solid;
  border-color: #0b0c10;
  cursor: pointer;
  font-size: 120px;
}

.howToPlay:hover {
  background: #66fcf1;
  color: #09104f;
  cursor: pointer;
  border: 0;
}

body .leaderboard {
  background-color: #45a29e;
  color: #c5c6c7;
  border: 3px solid;
  border-color: #0b0c10;
  cursor: pointer;
  font-size: 120px;
}

.leaderboard:hover {
  background: #66fcf1;
  color: #09104f;
  cursor: pointer;
  border: 0;
}

body .play {
  background-color: #45a29e;
  color: #c5c6c7;
  border: 3px solid;
  border-color: #0b0c10;
  cursor: pointer;
  font-size: 240px;
}

.play:hover {
  background: #66fcf1;
  color: #09104f;
  cursor: pointer;
  border: 0;
}

body .navbar-brand {
  font-size: 34px;
}

body .btn-main {
  width: 100%;
  height: 100%;
}

div .no-padding {
  padding: 0;
}

button .full-width {
  width: 100%;
}

div .text-justify-center {
  margin: auto;
  width: 80%;
}

.btn-logOut {
  background-color: none;
  border: 0;
  margin: 0;
  color: #45a29e;
  padding: 0.5rem 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 36px;
}

.btn-logOut:hover {
  background-color: none;
  border: 0;
  margin: 0;
  color: #66fcf1;
  padding: 0.5rem 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 36px;
}

h1,
p {
  color: #0b0c10;
}
